@import "../../global"
#publish
  background: wrapper-bg
  padding: 19px 0

#publish table
  width: 990px

#publish th
  width: 203px
  padding-right: 9px
  text-align: right
  vertical-align: top

#publish th,
#publish td
  padding-top: 10px
  padding-bottom: 10px

#publish input
  border: solid 1px input-text-field-color
  padding: 3px 6px

#thumbnails-preview
  display: block
  width: 770px
  height: 200px
  margin: 5px 0
  display: none

#thumbnails-preview.block
  display: block

#editorEl textarea
  width: 800px
  height: 400px
  border: none

#publish input.title
#publish input.title
  width: 300px

#publish select.category
  padding: 2px

#publish tr.submit
  text-align: center

#publish tr.submit button
  margin: 0 8em

#tag input
  width: 480px
  padding-left: 2px

.publish-type label
  display: inline-block
  margin-right 12px
