.main-content
    width:790px
    float:left
    padding:20px 0

.main-content h1
    font-size:20px


.main-content h1 span.title
    font-weight:bold
    margin-right:22px

.main-content h1 a.avatar
    display:inline-block
    vertical-align:middle
    margin-right:5px

.main-content h1 a.avatar img
    width:30px
    height:30px
    border-radius:2px

.main-content h1 span.category
.main-content h1 span.date
    color:#999
    font-size:12px


//主图
.main-pic-container
    background:#fff
    padding:5px 0 8px 0

.main-pic-container .main-pic
    width:780px
    overflow:hidden
    background:#fff
    margin: auto

.main-pic-container .main-pic img
    display:block
    margin:0 auto

.main-pic-container .ps
    margin-left:5px
    padding-top:6px
    font-size:12px

.main-pic-container .ps a
    margin:0 6px 0 6px

//侧边栏
.sidebar
    width:190px
    float:right
    padding:54px 0 0 0
    font-size:12px

.sidebar h2
    font-weight:bold
    margin-bottom:4px

.sidebar .des
    line-height:230%

//喜欢和评论
.love-comment
    background:url(http://img.sulicdn.com/read/52724ea185e021841600003b.png)
    padding:8px 0 0 0
    margin:12px 0 0 0
    border-radius:1px

.love-comment .trigger
    float:left
    width:50%
    cursor:pointer
    text-align:center
    position:relative
.love-comment .trigger span.data-icon
    font-size:35px
    display:block
    height:62px
.love-comment .trigger span.text
    position:absolute
    left:0
    width:100%
    bottom:5px
    font-size:14px
.sidebar .banner
    margin:21px 0 12px 0
.sidebar .banner p
    margin:12px 0
.sidebar .banner p a
    display:block
    margin:6px 0
.sidebar .banner p a img
    vertical-align:top
.sidebar .tag
    margin:17px 0 0 0
.sidebar .tag-control a
    display:inline-block
    background:#fff
    border:solid 1px #999
    border-radius:2px
    padding:2px 5px
    margin-right:5px
    margin-bottom:5px
    cursor:pointer
.sidebar .tag h2
    margin-bottom:8px

.comment-container
    position:relative

.J-comment-container
    width:790px
    overflow:hidden
    margin-top:23px
.J-comment-container h2
    font-size:14px
    margin-bottom:12px
.comment-container .ks-waterfall-col-0
    left:0!important
.comment-container .ks-waterfall-col-1
    margin-left:5px
.comment-container .item-container
    width:390px
    overflow:hidden
    position:absolute
.comment-container .item-container .user-info
    padding:11px 13px
.comment-container .container
    position:relative
    background:#fff
    padding-bottom:13px
    margin-bottom:10px

.comment-container .container .content
    margin:0 13px
    white-space:pre
.comment-container .container .reply-trigger
    text-align:right
    padding:12px 0
    display:none
.comment-container .container .reply a
    color:#999
.comment-container a.avatar
    display:inline-block
    vertical-align:middle
    margin-right:5px

.comment-container a.avatar img
    width:20px
    height:20px
    display:inline-block
    vertical-align:middle
    border-radius:2px

.comment-container span.user-name
    margin-left:5px
    color:#999

.comment-container .container .date
    position:absolute
    right:13px
    top:11px
    color:#999

.comment-container .container ul
    margin:0 13px 0 13px
.comment-container .container ul li
    line-height:normal
    padding:5px 0

.J-reply-container
    text-align:right
    margin:12px 0
.J-reply-container textarea
    width:352px
    height:46px
    background:#bebfb3
    border:none
    padding:10px 0 0 10px
    color:#333
    resize:none
//新回复
.new-comment
    margin-bottom:10px
    background:#fff
    padding-bottom:10px
.new-comment textarea
    margin:10px 0 0 10px
    width:365px
    border:none
    resize:none
    background:#bebfb3
    border:none
    padding:10px 0 0 10px
    height:63px
.new-comment .btn
    margin-right:5px
.J-send-new-comment
    text-align:right
