@import "../variables"

.main-content
  width 790px
  float left
  padding 20px 0

.main-content h1
  font-size 20px

.main-content h1 span.title
  font-weight bold
  margin-right 22px

.main-content h1 a.avatar
  display inline-block
  vertical-align middle
  margin-right 5px

.main-content h1 a.avatar img
  width 30px
  height 30px
  border-radius 2px

.main-content h1 span.category
.main-content h1 span.date
  color #999
  font-size 12px

//主图
.main-pic-container
  background #fff
  padding 5px 0 8px 0

.main-pic-container .main-pic
  width 780px
  overflow hidden
  background #fff
  margin auto

.main-pic-container .main-pic img
  display block
  margin 0 auto

@import "../global/src/comment/like-comment-sidebar-panel"