#design-works-container
  margin-top 40px
  overflow hidden

#design-works-container .control
  text-align center

#design-works-container .control a
  margin 0 8px

#design-works-container ul.design-works-list
  width 1200px
  min-height 420px

.show-more
  text-align center

.show-more .btn
  cursor pointer

@import "design-works-list-inline-block"