extends ../layout
block content
    form(name="update-source",action="/update-source",method="post")
        input(type="hidden",name="page_id",value="#{page_id}")
        table
            tr
                th 页面名称
                td
                    input(type="text",name="page_name",value="#{page_name}")
            tr
                th 页面地址
                td
                    input(type="text",name="page_url",value="#{page_url}",readonly,size="100")
            tr
                th 页面源码
                td
                    textarea(rows="30",name="content",cols="100")=source
            tr
                th
                td
                    input(type="submit",value="更新源码")
block js
    script.
        seajs.use('s/cms/init')