#article-container
  margin 18px 0 0 0

#article-container h2
  font-size: 20px
  margin-bottom: 6px

#article-container h2 span.tag
  margin-left 12px
  font-size 12px

#article-container h2 span.date
  margin-left 12px
  font-size 12px

#article-container div.content
  line-height 23px
  font-family simsun, sans-serif
  color #666
#article-container div.article
  margin-bottom:35px