block variables
    -var pageTitle='设置页面'
extends /layout

block css
    link(rel="stylesheet",href="#{assetsCDN}/s/personal/personal.css")

block content
    #manage-container.wrapper-990.clearfix
        #main-js-wrapper.main-content.clearfix
            #main-js-content.clearfix
                #main-js-container
                    .container
                        h3 加载中....
        iframe(name="upload-image",method="post",width=0,height=0,frameborder="no")
        include /person-profile-sidebar-layout
block js
    script(src="#{assetsCDN}/s/personal/dist/??init.js,account/init.js,all-works/init.js,design-works/init.js,like/init.js,public-pic/init.js")
    script.
        seajs.use('sjplus/personal/0.0.1/init')
