extends /layout

block css
    link(rel="stylesheet",href="/personal/personal.css")

block js
    script.
        seajs.use('/personal/init')

block content
    #manage-container.wrapper-990.clearfix
        #main-js-wrapper.main-content.clearfix
            #main-js-content.clearfix
                #main-js-container
                    .container
                        h3 加载中....
        include /person-profile-sidebar-layout
