@import "../../variables"

//侧边栏
.sidebar
  width 190px
  float right
  padding 54px 0 0 0
  font-size 12px

.sidebar h2
  font-weight bold
  margin-bottom 4px

.sidebar .des
  line-height 230%

.sidebar .describe
  word-break break-all

.sidebar .banner
  margin 21px 0 12px 0

.sidebar .banner p
  margin 12px 0

.sidebar .banner p a
  display block
  margin 6px 0

.sidebar .banner p a img
  vertical-align top

.sidebar .tag
  margin 17px 0 0 0

.sidebar .tag-control a
  display inline-block
  background #fff
  border solid 1px #999
  border-radius 2px
  padding 2px 5px
  margin-right 5px
  margin-bottom 5px
  cursor pointer

.sidebar .tag h2
  margin-bottom 8px

//喜欢和评论
.like-comment
  padding 8px 0 0 0
  margin 12px 0 0 0
  border-radius 1px

.like-comment .active
  color hover-color

.like-comment .trigger
  float left
  width 50%
  cursor pointer
  text-align center
  position relative

.like-comment .trigger span.data-icon
  font-size 35px
  display block
  height 62px

.like-comment .trigger span.text
  position absolute
  left 0
  width 100%
  bottom 5px
  font-size 14px
