extends layout

block content
    .container(style="margin:0 auto;width:600px;padding:12px;min-height:500px")
        h1(style="font-size:23px;margin:12px 0")=title
        ul
            -err.forEach(function(item,index){
                li(style="margin-left:1em") #{index+1}：#{item}
            -})