doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/reset.css')
        link(rel='stylesheet', href='/global.css')
        link(rel='stylesheet', href='/font.css')
        | <!--[if lte IE 7]><script src="/fonts/lte-ie7.js"></script><![endif]-->
        block css
    body
        #navigation
            .wrapper
                .wrapper-990
                    h1 Logo
                    ul
                        li
                            a 作品展
                        li
                            a 文章
                        li
                            a 关于我们
                        li
                            a 招聘
                        li
                            #login-register-area
                                //#user-info
                                    span
                                        img(src="http://dribbble.s3.amazonaws.com/users/49563/avatars/original/f7c80d46.jpg?1325837502")
                                    span.user_name Jakon
                                    .list
                                        a 信息
                                        a("/publish/design-works") 发布作品
                                        a 设置帐号
                                        a 退出

                                .J-login-register-triggers
                                    a.J-login-triggers(href="#") 登陆
                                    span.J-spector.spector /
                                    a(href="#") 注册


        block content
        #footer
            .main-wrapper
                .wrapper-990
                    h2 LOGO
                    p.des XXUX是用户体验部门。负责广告和无线，以及一淘网的用户体验工作。致力于为用户打造跨平台的统一的优良产品体验。
                    .job
                        h3 最新招聘
                        ul.list
                            li
                                a [杭州] 杭州UX正在照片：视觉设计师
                            li
                                a [杭州] 杭州UX正在照片：视觉设计师
                            li
                                a [杭州] 杭州UX正在照片：视觉设计师
                    .article
                        h3 设计资讯
                        ul.list
                            li
                                a 扁平化设计新趋势
                            li
                                a [Web页面中的“们”-web端登陆页面的设计]
                            li
                                a 界面设计俗称【淘宝UDC】
            .copyright
                .wrapper-990
                    | 版权信息

        script(src="http://g.tbcdn.cn/kissy/k/1.3.1/kissy-min.js")
        script(src="/global/sea.js")
        script.
            seajs.config({
                base: "/sea-modules/",
                vars: {
                    locale: 'zh-cn'
                },
                plugins: ['text'],
                alias: {
                    "$": '/global/jquery',
                    template: 'xiongsongsong/template/1.1.0/template',
                    'text': 'seajs/seajs-text/1.0.2/seajs-text',
                    'sha3':'/global/crypto/sha3',
                    'dialog':'arale/dialog/1.2.2/dialog'
                },
                preload: ['$','text','sha3','dialog']
            });
            seajs.use('/global/init')
        block js