.sidebar
    .manage-control
        .user-info
            img.J-avatar-own-80.avatar(src="/avatar/#{user_id}_80x80")
            .info
                h2 #{user_name}
                //.location 杭州
        //.sns
            a(href="qq") QQ
            a(href="sina-weibo") Sina
        .control
            a.btn.btn-error.btn-normal.J-publish-work(tabindex=1) +发布作品/文章
            #router-trigger.label-link
                a.link(href="#recent-news") 最近消息
                a.link(href="#all-works") 所有作品/文章(12)
                a.link(href="#love-works") 喜欢的作品/文章(12)
                a.link(href="#follow") 关注的人(12)
                a.link(href="#rights-management") 权限管理
                a.link(href="#account-setting") 帐户设置
                a.link(href="#manage-share") 管理共享文件
                a.link(href="#authenticate") 认证
