.sidebar
    .manage-control
        .user-info
            a(href="/u/#{user_id}")
                img.J-avatar-own-80.avatar(src="#{imgCDN}/avatar/#{user_id}_80x80")
            .info
                h2 #{user_name}
                //.location 杭州
        //.sns
            a(href="qq") QQ
            a(href="sina-weibo") Sina
        .control
            a.btn.btn-error.btn-normal.J-publish-work(tabindex=1) +发布作品/文章
            #router-trigger.label-link
                //a.link.J-behavior(data-behavior="recent-news",href="full_redirect=true")
                    span.data-icon(data-icon!="&#xe006;")
                    | 最近消息
                a.link.J-behavior(data-behavior="all-works",href="#view=design&full_redirect=true")
                    span.data-icon(data-icon!="&#xe013;")
                    | 所有作品/文章(12)
                a.link.J-behavior(data-behavior="love-works",href="#full_redirect=true")
                    span.data-icon(data-icon!="&#xe007;")
                    | 喜欢的作品/文章(12)
                //a.link.J-behavior(data-behavior="follow",href="#full_redirect=true")
                    span.data-icon(data-icon!="&#xe019;")
                    | 关注的人(12)
                a.link.J-behavior(data-behavior="account-setting",href="#full_redirect=true")
                    span.data-icon(data-icon!="&#xe017;")
                    | 帐户设置
                a.link.J-behavior(data-behavior="manage-share",href="#full_redirect=true")
                    span.data-icon(data-icon!="&#xe00b;")
                    | 管理共享文件
                a.link.J-behavior(data-behavior="publish-pic",href="#full_redirect=true")
                    | 图床