@import "../../variables"
#publish
  background wrapper-bg
  padding 19px 0

#publish table
  width 990px

#publish th
  width 203px
  padding-right 9px
  text-align right
  vertical-align top

#publish th,
#publish td
  padding-top 10px
  padding-bottom 10px

#publish input
  border solid 1px input-text-field-color
  padding 3px 12px

.J-upload-file-triggers
  background #fff url(/read/5287721f3199569a24000151.gif)
  width 578px
  height 375px
  overflow hidden
  font-size 20px
  text-align center
  border solid 1px upload-file-triggers-color
  margin 8px 0
  position relative

//主图的预览
#main-file-preview
  position absolute
  left 0
  top 0
  width 100%
  background-repeat no-repeat
  background-position center 0

.dragover
  background #e7f2dd

.J-upload-file-triggers span.tip
  position absolute
  left 0
  top 50%
  width 100%
  text-align center
  margin-top - 15px

#publish input.title
  width 300px

#publish select.category
  padding 2px

#publish textarea
  width 390px
  height 63px
  resize none
  padding 12px
  border solid 1px input-text-field-color

#publish tr.submit
  text-align center

#publish tr.submit button
  margin 0 8em

#ps-list
  font-size 12px
  padding 12px

#ps-list div
  padding 3px 0

#ps-list a
  margin 0 6px
  font-weight normal
  color blue
  text-decoration underline

#tag .tag-control a.tag
  padding-right 2px
  cursor default

#tag .tag-control a.tag span.delete
  display inline-block
  padding 0 5px
  color hover-color
  margin-left 4px
  cursor pointer

#tag .tag-control a.tag span.delete:hover
  background hover-color
  color #fff

#tag
  border solid 1px border-color
  padding 10px
  background #fff

#tag input
  width 155px
  padding-left 2px
  border none
  background transparent
  outline none

//自动完成
.ui-autocomplete
  background #fff
  width 300px
