#publish {
  background: #e7e7e7;
  padding: 19px 0;
}
#publish table {
  width: 990px;
}
#publish th {
  width: 203px;
  padding-right: 9px;
  text-align: right;
  vertical-align: top;
}
#publish th,
#publish td {
  padding-top: 10px;
  padding-bottom: 10px;
}
#publish input {
  border: solid 1px #a1a1a1;
  padding: 3px 12px;
}
.J-upload-file-triggers {
  background: #fff url("/read/5287721f3199569a24000151.gif");
  width: 578px;
  height: 375px;
  overflow: hidden;
  font-size: 20px;
  text-align: center;
  border: solid 1px #a1a1a1;
  margin: 8px 0;
  position: relative;
}
#main-file-preview {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center 0;
}
.dragover {
  background: #e7f2dd;
}
.J-upload-file-triggers span.tip {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  margin-top: -15px;
}
#publish input.title {
  width: 300px;
}
#publish select.category {
  padding: 2px;
}
#publish textarea {
  width: 390px;
  height: 63px;
  resize: none;
  padding: 12px;
  border: solid 1px #a1a1a1;
}
#publish tr.submit {
  text-align: center;
}
#publish tr.submit button {
  margin: 0 8em;
}
#ps-list {
  font-size: 12px;
  padding: 12px;
}
#ps-list div {
  padding: 3px 0;
}
#ps-list a {
  margin: 0 6px;
  font-weight: normal;
  color: #00f;
  text-decoration: underline;
}
#tag .tag-control a.tag {
  padding-right: 2px;
  cursor: default;
}
#tag .tag-control a.tag span.delete {
  display: inline-block;
  padding: 0 5px;
  color: #ff3b35;
  margin-left: 4px;
  cursor: pointer;
}
#tag .tag-control a.tag span.delete:hover {
  background: #ff3b35;
  color: #fff;
}
#tag {
  border: solid 1px #ccc;
  padding: 10px;
  background: #fff;
}
#tag span.tag-input-wrapper {
  position: relative;
  display: inline-block;
  height: 22px;
  width: 355px;
}
#tag span.tag-input-wrapper input {
  width: 455px;
  padding-left: 2px;
  border: none;
  background: transparent;
  outline: none;
}
.ui-autocomplete {
  background: #fff;
  width: 300px;
}
