a-color = #333333
hover-color = #ff3b35
bg-color = #bebfb3
wrapper-bg = #e7e7e7
input-text-field-color = #a1a1a1
upload-file-triggers-color = #a1a1a1
border-color = #ccc
box-shadow = 0 2px 3px #a9a9a9