@import "../../../variables"

#design-container
  margin-top: 26px

#design-container li
  float left
  margin-right: 38px
  height 232px
  width: 230px

#design-container
  overflow hidden

#design-container .list-area
  width: 840px

.delete-design-work
  background hover-color
  color #fff
  padding: 5px 0
  text-align: center

.delete-design-work .t
  padding 3px

.delete-design-work a
  color: #fff
  margin:0 9px