extends /layout
block css
    link(rel="stylesheet",href="#{assetsCDN}/s/design-works/tag.css")
block js
    script.
        seajs.use('s/design-works/tag')
block content
    .wrapper
        .wrapper-990
            #user-panel
    .wrapper
        .wrapper-990.clearfix
            #sidebar-wrapper
                #sidebar-container
                    #sidebar
                        h2 分类
                        #J-category-container.category
                            | 加载中...
                        h2 标签
                        .tag-control#J-tag-control-container
                            a.tag(href="#") 视觉
            #tag-design-works-wrapper
                #design-works-container
                    ul.design-works-list.clearfix#J-design-works-list
                .show-more
                    a.btn.btn-large.btn-disabled.show-more.J-show-more 查看更多
