extends /layout
block css
    link(rel="stylesheet",href="#{assetsCDN}/s/u/home.css")
block js
    script.
        seajs.use('s/u/init')
block content
    .wrapper
        .wrapper-990
            #user-panel

    .wrapper
        .wrapper-990
            #main-container-wrapper

