//右侧主体内容
#manage-design-works .list
    width:900px
#manage-design-works .list li
    width:233px
    float:left
    height:230px
    margin-right:38px
#manage-design-works .list li .user
    font-size:12px
