//右侧主体内容
#manage-design-works .list
    width:900px
#manage-design-works .list li
    width:233px
    float:left
    height:230px
    margin-right:38px
#manage-design-works .list li .user
    font-size:12px
#manage-design-works .list li .user a.avatar
    display:inline-block
    width:20px
    height:20px
    vertical-align:middle
    margin-right:4px
#manage-design-works .list li .user span.info
    display:inline-block
    vertical-align:middle