@import "../global"
#main-container-wrapper
  min-height 480px

#user-panel
  background #fff
  height 100px
  margin 20px 0
  position relative

#user-panel a.avatar
  position absolute
  left 13px
  top 10px

#user-panel a.avatar img
  border-radius 3px

#user-panel .info
  position absolute
  left 104px
  top 10px

#user-panel .info h2
  font-size 20px

#user-panel .info p
  line-height 190%

#user-panel .count
  position absolute
  right 42px
  top 0
  height 100%
  color #333

#user-panel .count a
  float left
  margin-left 42px
  text-align center
  height 100%
  position relative

#user-panel .count span.num
#user-panel .count span.title
  display block

#user-panel .count span.num
  font-size 35px
  padding-top 6px
  font-weight bold

#user-panel .count span.title
  font-size 20px

#user-panel .count a s
  position absolute
  bottom 0
  left 50%
  margin-left - 11px
  width 22px
  height 3px
  background hover-color
  visibility hidden

#user-panel .count ahover
  color #333

#user-panel .count ahover s
#user-panel .count a.active s
  visibility visible

/*个人作品*/
#design-works-container
  overflow hidden

#design-works-container .control
  text-align center

#design-works-container .control a
  margin 0 8px

#design-works-container ul
  width 1200px

#design-works-container li
  width 230px
  height 240px
  position relative
  float left
  margin-right 23px

#design-works-container li div.describe
  position absolute
  left 0
  top 0
  width 100%
  height 175px
  visibility hidden
  overflow hidden
  color #000
  filter unquote("progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#CC919287', endColorstr='#CC919287')")
  background rgba(145, 146, 135, 0.8)

#design-works-container li a.link
  position absolute
  left 0
  top 0
  width 100%
  height 100%
  z-index 3

#design-works-container li img.thumbnails
  width 230px
  height 175px

#design-works-container lihover div.describe
  visibility visible

#design-works-container li h2
  font-size 20px
  margin 12px 20px 12px 20px
  word-break break-all

#design-works-container li p
  margin 0 20px
  word-break break-all

#design-works-container li .avatar
  position absolute
  left 0
  top 180px

#design-works-container li .avatar img
  border-radius 2px

#design-works-container li .info
  position absolute
  right 0
  top 180px
  color #999

#design-works-container .info
  font-size 12px
  font-family "华文细黑", verdana

#design-works-container .data-icon
  font-size 14px
  margin-left 3px
  margin-right 5px
  display inline-block
  vertical-align middle

//文章

#article-container
  margin 28px 0 0 0

#article-container h2
  font-size: 20px
  margin-bottom: 6px

#article-container h2 img.avatar
  display inline-block
  border-radius 2px
  vertical-align middle
  margin-right 6px

#article-container h2 span.tag
  margin-left 12px
  font-size 12px
  color #999

#article-container h2 span.date
  margin-left 12px
  font-size 12px
  color #999

#article-container p.banner
  margin-bottom 12px

#article-container div.content
  line-height 23px
  font-family simsun, sans-serif
  color #666

#article-container div.article
  margin-bottom: 45px