#main-container
    border:solid 1px blue

.main-content
    width:790px
    float:left
    background:#fff
    height:300px

.sidebar
    width:200px
    float:right
    background:#f00
    height:200px