.main-content
    width:790px
    float:left
    padding:20px 0

.main-content h1
    font-size:20px


.main-content h1 span.title
    font-weight:bold
    margin-right:22px

.main-content h1 a.avatar
    display:inline-block
    vertical-align:middle
    margin-right:5px

.main-content h1 a.avatar img
    width:30px
    height:30px
    border-radius:2px

.main-content h1 span.category
.main-content h1 span.date
    color:#999
    font-size:12px


//主图
.main-pic-container
    background:#fff
    padding:5px 0 8px 0

.main-pic-container .main-pic
    width:780px
    overflow:hidden
    background:#fff
    margin: auto

.main-pic-container .main-pic img
    display:block
    margin:0 auto

.main-pic-container .ps
    margin-left:5px
    padding-top:3px
    font-size:12px

.main-pic-container .ps a
    margin:0 6px 0 6px

//侧边栏
.sidebar
    width:190px
    float:right
    padding:54px 0 0 0
    font-size:12px

.sidebar h2
    font-weight:bold
    margin-bottom:4px

.sidebar .des
    line-height:230%