.main-content
    float:right
    width:790px

#manage-container h3
    font-size:18px
    margin-top:12px
    margin-bottom:14px

.wrapper-990
    margin-top:24px

.sidebar
    float:left
    width:200px
    overflow:hidden

.manage-control .user-info
    position:relative
    height:90px

.manage-control img.avatar
    position:absolute
    width:80px
    height:80px

.manage-control .info
    position:absolute
    left:85px
    top:0

.manage-control .control a
    width:170px
    cursor:pointer

.manage-control .label-link
    margin:24px 0

.manage-control .label-link a
    display:block
    text-indent:24px
    padding:5px 0
    margin:12px 0
    width:100%

.manage-control .label-link a.hover
    background:#fff

//右侧主体内容
.main-content
    background:#fff
.main-content .container
    padding:0 8px 8px 8px
.main-content .list
    width:900px
.main-content .list li
    width:233px
    float:left
    height:230px
    margin-right:38px
.main-content .list li .user
    font-size:12px
