@import "../variables"

.main-content
  float: right
  width: 790px
  background: #fff

.main-content .container
  padding: 0 8px 8px 8px
  min-height: 600px

#manage-container h3
  font-size: 18px
  margin-top: 12px
  margin-bottom: 14px

.wrapper-990
  margin-top: 24px

.sidebar
  float: left
  width: 200px
  overflow: hidden

.manage-control .user-info
  position: relative
  height: 90px

.manage-control img.avatar
  position: absolute
  width: 80px
  height: 80px

.manage-control .info
  position: absolute
  left: 85px
  top: 0

.manage-control .info h2
  font-size: 20px

.manage-control .control a
  width: 170px
  cursor: pointer

.manage-control .label-link
  margin: 24px 0

.manage-control .label-link a
  display: block
  text-indent: 24px
  margin: 12px 0
  width: 100%
  line-height 250%

.manage-control .label-link a.behavior-active
  background: #fff
  color hover-color

.manage-control .label-link a span.data-icon
  margin-right: 12px
  font-size: 16px
  vertical-align: middle

#main-js-content
  min-height: 600px

#main-js-content.loading
  background: url(/global/loading.png) center center no-repeat
