@import "../../../variables"

#design-container
  margin-top: 26px

#design-container
  overflow hidden

#design-container .list-area
  width: 840px

.delete-design-work
  background hover-color
  color #fff
  padding: 5px 0
  text-align: center

.delete-design-work .t
  padding 3px

.delete-design-work a
  color: #fff
  margin: 0 9px

@import "../../../design-works/design-works-list-inline-block"

.design-works-list li
  margin-bottom 1em
  margin-right 38px