html
      background-color:#e7e7e7
body
  font: 14px "华文细黑","微软雅黑",simsun,"Lucida Grande", Helvetica, Arial, sans-serif
  color:#333
.clearfix:after
    content:"."
    display:block
    height:0
    clear:both
    visibility:hidden
.clearfix
    zoom:1
a-color=#333333
hover-color=#ff3b35
bg-color=#bebfb3
wrapper-bg=#e7e7e7
input-text-field-color=#a1a1a1
upload-file-triggers-color=#a1a1a1
border-color=#ccc
box-shadow=0 2px 3px #a9a9a9

a
  color: a-color
  text-decoration:none

a:hover
    color:#ff3b35

.wrapper
    margin-left:auto
    margin-right:auto

.hide
    display:none

.wrapper-990
    width:990px
    margin-left:auto
    margin-right:auto

.btn
    background:bg-color
    border-radius:2px
    display:inline-block
    text-align:center
    border:none
    padding:3px 12px
    font-family:"华文细黑","Microsoft Yahei",sans-serif

.btn-normal
    padding:5px 12px
    font-size:14px

.w100
    width:100%

.block
    display:block

.btn-large
    padding:11px 24px
    font-size:16px

.btn-error
    background-color:#ff3d33
    color:#fff

.btn-error:hover
    color:#fff

//导航
#navigation
    background:#fff
    height:80px

#navigation .wrapper-990
    position:relative

#navigation h1
    position:absolute
    font-size:56px
    color:#ff3b35

#navigation ul
    position:absolute
    top:37px
    right:0

#navigation ul li{
    float:left
    margin-left:32px
}


//面包屑

.crumbs
    padding:12px 0

.crumbs a.back
    font-size:20px

//登陆
#login-register-area .J-spector
    margin:0 1px

.login-small-dialog
    width:118px
    background:#e9e9e9
    border-radius:2px
    margin-top:5px
    box-shadow:box-shadow

.login-small-dialog div.title
    color:hover-color
    border-bottom:solid 1px border-color
    text-align:center
    padding-bottom:7px
    margin-bottom:8px

.login-small-dialog .wrapper
    width:92px
    padding:8px 0 12px 0
    margin:0 auto

.login-small-dialog input.text
    width:86px
    height:16px
    margin-bottom:5px
    border:solid 1px border-color
    font-size:12px
    padding-left:4px

#login-register-area
    height:22px
    position:relative
    overflow:hidden
    width:80px
    overflow:hidden

#login-register-area .J-login-register-triggers
    overflow:hidden

.login-user-info
    position:absolute
    top:20px
    left:0
    cursor:pointer
.login-user-info span.avatar
    height:20px
    width:20px
    overflow:hidden
    text-align:center
    position:absolute
    left:0
    top:0
.login-user-info span.avatar i
    display:inline-block
    height:20px
    overflow:hidden
    width:0
    position:relative
    vertical-align:middle
.login-user-info span.avatar img
    width:0
    height:0
    display:inline-block
    vertical-align:middle
    border-radius:2px
.login-user-info .J-user-name
    margin-left:24px

//登陆后的用户菜单
.logged-list
    background:#f3f3f3
    margin-top:6px;
    box-shadow:box-shadow

.logged-list div.list
    padding:5px 10px

.logged-list li
    padding:3px 0

.logged-list a
    display:block
