@import "../global"

#article-container
  margin 28px 0 0 0
  width 790px
  float left

#article-container h2
  font-size: 20px
  margin-bottom: 6px

#article-container h2 img.avatar
  display inline-block
  border-radius 2px
  vertical-align middle
  margin-right 6px

#article-container h2 span.tag
  margin-left 12px
  font-size 12px
  color #999

#article-container h2 span.date
  margin-left 12px
  font-size 12px
  color #999

#article-container div.content
  line-height 23px
  font-family simsun, sans-serif
  color #666

#article-container div.article
  margin-bottom: 35px

#sidebar
  width 200px
  float right
  margin 28px 0 0 0

#sidebar h2
  font-size 20px
  font-weight normal

#category-container ul
  margin 12px

#category-container ul li
  padding 6px 0

#category-container ul a
  display block
  padding 3px 6px
  border-radius 3px

#category-container ul a.active
  background hover-color
  color #fff