.main-content {
  margin-top: 23px;
  width: 790px;
  float: left;
}
#article-content {
  min-height: 500px;
  float: left;
  font-size: 14px;
  padding-left: 10px;
  background: #fff;
}
#article-title {
  font-size: 20px;
  margin: 20px 0;
  font-weight: bold;
}
#article-title h1 img.avatar {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
#content-wrapper {
  line-height: 180%;
  padding: 0 12px 12px 0;
}
#content-wrapper h2 {
  margin-top: 15px;
  color: #888;
}
#content-wrapper img {
  max-width: 770px;
}
.sidebar {
  width: 190px;
  float: right;
  padding: 54px 0 0 0;
  font-size: 12px;
}
.sidebar h2 {
  font-weight: bold;
  margin-bottom: 4px;
}
.sidebar .des {
  line-height: 230%;
}
.sidebar .describe {
  word-break: break-all;
}
.sidebar .banner {
  margin: 21px 0 12px 0;
}
.sidebar .banner p {
  margin: 12px 0;
}
.sidebar .banner p a {
  display: block;
  margin: 6px 0;
}
.sidebar .banner p a img {
  vertical-align: top;
}
.sidebar .tag {
  margin: 17px 0 0 0;
}
.sidebar .tag h2 {
  margin-bottom: 8px;
}
.like-comment {
  padding: 8px 0 0 0;
  margin: 12px 0 0 0;
  border-radius: 1px;
}
.like-comment .active {
  color: #ff3b35;
}
.like-comment .trigger {
  float: left;
  width: 50%;
  cursor: pointer;
  text-align: center;
  position: relative;
}
.like-comment .trigger span.data-icon {
  font-size: 35px;
  display: block;
  height: 62px;
}
.like-comment .trigger span.text {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 5px;
  font-size: 14px;
}
