#article-content
  margin 20px 0
  min-height 500px
  float left
  font-size 14px

#article-content p
  margin 1em auto

#article-title
  font-size 20px
  margin 20px 0
  font-weight bold

#article-title h1 img.avatar
  display inline-block
  vertical-align middle
  margin-right 5px

#content-wrapper
  line-height 230%