@import "../../variables"

table
    width:700px

#add-user th,
#add-user td,
#edit-user th,
#edit-user td
    padding:12px

h1
    font-size:33px

#add-user th
    text-align:right


#edit-user th,
#edit-user td
    border:dashed 1px border-color

#edit-user input.group
    width:100%
    padding:5px 0