extends /layout

block css
    link(rel="stylesheet",href="/design-works/share/manage.css")

block content
    .wrapper-990.clearfix
        .main-content
            .container
                h3 管理共享文件
                .list-area
                    ul.list
                        li
                            a(href="./1231234sdf3d23")
                                img.avatar(src="http://img.hb.aicdn.com/328686f7972250344a3b86c7e59cb0535f4125b0a99a-SUWLSO_fw236w",width="230",height="175")
                            .user
                                a.avatar
                                    img(src="")
                                span.info 刷卡机上传了文件
                        li
                            a(href="./1231234sdf3d23")
                                img.avatar(src="http://img.hb.aicdn.com/328686f7972250344a3b86c7e59cb0535f4125b0a99a-SUWLSO_fw236w",width="230",height="175")
                        li
                            a(href="./1231234sdf3d23")
                                img.avatar(src="http://img.hb.aicdn.com/328686f7972250344a3b86c7e59cb0535f4125b0a99a-SUWLSO_fw236w",width="230",height="175")
                        li
                            a(href="./1231234sdf3d23")
                                img.avatar(src="http://img.hb.aicdn.com/328686f7972250344a3b86c7e59cb0535f4125b0a99a-SUWLSO_fw236w",width="230",height="175")
                        li
                            a(href="./1231234sdf3d23")
                                img.avatar(src="http://img.hb.aicdn.com/328686f7972250344a3b86c7e59cb0535f4125b0a99a-SUWLSO_fw236w",width="230",height="175")
                        li
                            a(href="./1231234sdf3d23")
                                img.avatar(src="http://img.hb.aicdn.com/328686f7972250344a3b86c7e59cb0535f4125b0a99a-SUWLSO_fw236w",width="230",height="175")
        .sidebar
            .manage-control
                .user-info
                    img.avatar(src="http://gtms04.alicdn.com/tps/i4/T1qGCGFbVgXXX9hhfo-80-80.jpg")
                    .info
                        h2 Jackon
                        .location 杭州
                    //.sns
                        a(href="qq") QQ
                        a(href="sina-weibo") Sina
                .control
                    a(href="/publish/design-works").btn.btn-error.btn-normal +发布作品/文章
                    .label-link
                        a.link(href="#") 权限管理
                        a.link(href="#").hover 管理共享文件
                        a.link(href="#") 首页管理
