extends /layout

block css
    link(rel="stylesheet",href="/design-works/share/manage.css")

block content
    .wrapper-990.clearfix
        .main-content
            .container
                h3 管理共享文件
                .list-area
                    ul.list
                        -docs.forEach(function(item){
                            li
                                a(href="/design-works/detail/#{item._id}")
                                    img.avatar(src="/read/#{item.thumbnails_id}",width="230",height="175")
                                .user
                                    a.avatar
                                        img(src="")
                                    span.info=item.title
                        -})
        .sidebar
            .manage-control
                .user-info
                    img.avatar(src="http://gtms04.alicdn.com/tps/i4/T1qGCGFbVgXXX9hhfo-80-80.jpg")
                    .info
                        h2 Jackon
                        .location 杭州
                    //.sns
                        a(href="qq") QQ
                        a(href="sina-weibo") Sina
                .control
                    a.btn.btn-error.btn-normal.J-publish-work(tabindex=1) +发布作品/文章
                    .label-link
                        a.link(href="#") 权限管理
                        a.link(href="#").hover 管理共享文件
                        a.link(href="#") 首页管理
