@import "../../variables"

#weixin-weibo-float-menu-wrapper
  position fixed
  right 12px
  bottom 12px

#weixin-weibo-float-menu div.item
  width 45px
  height 45px
  background #bebfb3
  text-align center
  line-height 40px
  margin-bottom 5px
  border-radius 4px
  color #383838

#weixin-weibo-float-menu div.item .icon-content
  width 45px
  height 45px
  position relative
  text-align center

#weixin-weibo-float-menu div.item .icon-content .icon
  font-size 26px
  line-height 26px
  width 100%
  height 100%
  position absolute
  top 10px
  left 0

#weixin-weibo-float-menu div.item .icon-content b.icon
  visibility none

