#global-user-card {
  width: 150px;
  background: #fff url("http://img.sjplus.cn/read/52ae7698f551edc839000191.png");
  position: absolute;
  left: -999px;
  top: -999px;
  z-index: 99999;
  box-shadow: 0 0 18px rgba(0,0,0,0.5);
  border: solid 1px #aaa;
}
#global-user-card-avatar {
  width: 80px;
  height: 80px;
  margin: 28px auto 0 auto;
  display: block;
}
#global-user-card p.user {
  text-align: center;
  font-size: 18px;
  font-family: "Microsoft Yahei", sans-serif;
  padding: 14px 0 12px 0;
}
#global-user-card p.address {
  text-align: center;
  color: #a1a1a1;
  margin: 0 auto 12px auto;
}
#global-user-card-type {
  padding: 5px 0;
  background: #bebfb3;
  font-size: 18px;
  text-align: center;
}
#global-user-card-type a {
  margin: 0 2px;
}
