extends /layout

block css
    link(rel='stylesheet', href='#{assetsCDN}/s/publish/src/design-works/publish.css')

block content
    #publish.wrapper
        .wrapper-990
            .crumbs
                a.J-back.back(href="/personal#manage-share") 返回
            form(name="publish",method="post",action="/publish/design-works")
                input(type="hidden",name="_csrf",value="#{token}")
                table
                    tr
                        th 标题
                        td
                            input.title.text(type="text",name="title",placeholder="20字以内",maxlength=60)
                            select.category(name="category",title="作品分类")
                                option(value="",selected="selected") 请选择分类
                                option(value="视觉设计") 视觉设计
                                option(value="界面设计") 界面设计
                                option(value="图标设计") 图标设计
                    tr
                        th 简介
                        td
                            textarea(name="content",placeholder="200字以内",maxlength=200)
                    tr
                        th 缩略图
                        td
                            label#upload_thumbnails.btn(tabindex="0") 上传
                            span.success.J-thumbnails-status
                            input#thumbnails_id(type="hidden",name="thumbnails_id")
                            span#submit  大小460x350的 jpg，png或gif，不能超过1Mb
                    tr
                        th 高清图
                        td
                            | 10Mb 内，支持jpg、png、gif，
                            #J-upload-file-triggers.J-upload-file-triggers
                                img#main-file-preview
                                input#main-file-field.opacity-0(type="file",name="main-file")
                                input#main-file_id(type="hidden",name="mail-file_id")
                                span.tip.J-tip
                                    label(for="main-file-field")
                                        span.J-mail-file-status
                                        | 点击上传,10Mb以內
                        tr
                            th 标签
                            td
                                #tag
                                    span#tag-control.tag-control
                                    input#tag-value(type="hidden",name="tag")
                                    span.tag-input-wrapper
                                        input#tag-field(list="tagList",type="text",placeholder="多个Tag用空格隔开，或连续敲入3个空格进行预览")
                                    datalist#tagList(style="display:none;")
                        //tr
                            th 类型
                            td
                                select(type="text",name="type")
                                    option(value="share") 共享作品
                                    option(value="own",selected="selected") 个人作品
                    tr.err.hide
                        th 错误信息
                        td
                            ul
                    tr.submit
                        td(colspan=2)
                            //button.btn.btn-large(type="submit",name="preview") 预览
                            button.btn.btn-large(type="submit",name="publish") 发布
block js
    script(src="#{assetsCDN}/s/publish/dist/design-works/init.js")
    script.
        seajs.use('sjplus/publish/0.0.1/design-works/init')

