extends /layout

block css
    link(rel='stylesheet', href='#{assetsCDN}/s/publish/design-works/publish.css')

block js
    script.
        seajs.use('s/publish/design-works/init')

block content
    #publish.wrapper
        .wrapper-990
            .crumbs
                a.J-back.back(href="/personal#manage-share") 返回
            form(name="publish",method="post",action="/publish/design-works")
                input(type="hidden",name="_csrf",value="#{token}")
                table
                    tr
                        th 标题
                        td
                            input.title.text(type="text",name="title",placeholder="20字以内",maxlength=60)
                            select.category(name="category",title="作品分类")
                                option(value="",selected="selected") 请选择分类
                                option(value="视觉设计") 视觉设计
                                option(value="交互设计") 交互设计
                    tr
                        th 简介
                        td
                            textarea(name="content",placeholder="200字以内",maxlength=200)
                    tr
                        th 缩略图
                        td
                            label#upload_thumbnails.btn(tabindex="0") 上传
                            span.success.J-thumbnails-status
                            input#thumbnails_id(type="hidden",name="thumbnails_id")
                            span#submit  大小460x350的 jpg，png或gif，不能超过1Mb
                    tr
                        th 高清图
                        td
                            | 50Mb内，支持jpg、png、gif，
                            #J-upload-file-triggers.J-upload-file-triggers
                                img#main-file-preview
                                input#main-file-field.opacity-0(type="file",name="main-file")
                                input#main-file_id(type="hidden",name="mail-file_id")
                                span.tip.J-tip
                                    label(for="main-file-field")
                                        span.J-mail-file-status
                                        | 点击上传
                    tr
                        th 附件（可选）
                        td
                            label#upload-ps.btn(for="upload-ps",tabindex="0") 上传
                            | 可以上传源文件如PSD，但不能超过100Mb，否则请压缩或减少文件体积。
                            input.hide#upload-ps(type="file",multiple)
                            textarea#ps_id.hide(name="ps_id",readonly='readonly')
                            #ps-list
                        //tr
                            th 标签
                            td
                                #tag
                                    input#tag-field(type="text",name="tag",value="活动")
                                    | 标签之间用空格隔开
                        tr
                            th 类型
                            td
                                select(type="text",name="type")
                                    //option(value="share") 共享作品
                                    option(value="own",selected="selected") 个人作品
                    tr.err.hide
                        th 错误信息
                        td
                            ul
                    tr.submit
                        td(colspan=2)
                            //button.btn.btn-large(type="submit",name="preview") 预览
                            button.btn.btn-large(type="submit",name="publish") 发布
