@import "../../global"
#publish
    background:wrapper-bg
    padding:19px 0

#publish table
    width:990px

#publish th
    width:203px
    padding-right:9px
    text-align:right
    vertical-align:top

#publish th,
#publish td
    padding-top:10px
    padding-bottom:10px

#publish input
    border:solid 1px input-text-field-color
    padding:3px12px

.J-upload-file-triggers
    background:#fff url(/global/img/drag-upload-file-bg.png)
    width:578px
    height:375px
    overflow:hidden
    font-size:20px
    text-align:center
    border:solid 1px upload-file-triggers-color
    margin:8px 0
    position:relative

.dragover
    background:#e7f2dd

.J-upload-file-triggers span.tip
    position:absolute
    left:0
    top:50%
    width:100%
    text-align:center
    margin-top:-15px

#publish textarea
    width:390px
    height:63px
    resize:none
    padding:12px
    border:solid 1px input-text-field-color


#publish tr.submit
    text-align:center

#publish tr.submit button
    margin:0 8em

#ps-list
    font-size:12px
    padding:12px

#ps-list div
    padding:3px 0

#ps-list a
    margin:0 6px
    font-weight:normal
    color:blue
    cursor:pointer
    text-decoration:underline

#tag input
    width:480px
    padding-left:3px