@import "../../global"

#show-tuchuang-preview-trigger
  line-height: 230%

#show-tuchuang-preview-trigger li
  display inline-block
  height 140px
  vertical-align top
  margin 5px
  width 138px
  text-align center
  box-shadow 0 0 2px border-color
  border-radius 2px

#show-tuchuang-preview-trigger li img
  display inline-block
  vertical-align middle

#show-tuchuang-preview-trigger li:hover
  position relative
  box-shadow 0 0 2px hover-color

#show-tuchuang-preview-trigger li textarea
  position absolute
  left 0
  bottom 12px
  opacity 0
  color #fff
  background hover-color
  border none
  padding 3px 6px
  overflow hidden
  height auto
  resize none
  width 150px
  outline none

#show-tuchuang-preview-trigger li:hover textarea
  opacity .9